<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
</head>
<body>
    <h2>Formulário de Venda</h2>

<form action="/registrar_venda" method="post">
  <label for="id_cliente">ID do Cliente:</label><br>
  <input type="text" id="id_cliente" name="id_cliente"><br>
  <label for="id_produto">ID do Produto:</label><br>
  <input type="text" id="id_produto" name="id_produto"><br>
  <label for="quantidade">Quantidade:</label><br>
  <input type="text" id="quantidade" name="quantidade"><br>
  <input type="submit" value="Registrar Venda">
</form>

</body>
</html>