<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
</head>
<body>
    <H1>PARTE DE VENDAS</H1>
    <table>
        <tr>
            <th>ID</th>
            <th>DATA</th>
            <th>PROD</th>
            <th>QTD.</th>
        </tr>
        {% for venda in vendas %}
        <tr>
            <td>{{ venda[0] }}</td>
            <td>{{ venda[1] }}</td>
            <td>{{ venda[2] }}</td>
            <td>{{ venda[3] }}</td>
            <td>{{ venda[4] }}</td>
            <td>{{ venda[5] }}</td>
            <td>{{ venda[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar</a>
</body>
</html>